.cabecera {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  background-color: #1d1d1d;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 12px 0px;
}
.links {
  width: 50%;
}
nav {
  color: white;
}

.links ul {
  display: flex;
  padding: 0.5rem;
}
.links li {
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  padding-left: 2vw;
  color: white;
}

.links a {
  color: white;
}
.input_cont {
  width: 50%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 40px;
}
.input_cont input {
  width: 25vw;
  outline: none;
  border: none;
  height: 4vh;
  border-radius: 10px;
  display: none;
}

.searchIcon {
  color: white !important;
  font-size: 18px !important;
}
