.carousel_img {
  width: 100%;
  height: 50vh;
  position: relative;
  top: 0;
  image-rendering: pixelated;
  object-fit: unset;
  filter: blur(8px);
  -webkit-filter: blur(4px);
  background: rgba(0, 0, 0, 0.3);
}

.cont_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  top: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.img_short {
  width: 220px;
  height: 280px;
  border-radius: 5px;
}

.cont_info h1 {
  color: white;
  width: 90%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.cont_info p {
  color: white;
  width: 80%;
  height: 60%;
}

.info_izq {
  background: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  display: none;
}

.info_der {
  width: 100%;
  border-radius: 5px;
  display: flex;
  height: 320px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .carousel_img {
    height: 60vh;
  }

  .cont_info {
    flex-direction: row;
  }
  .cont_info p {
    width: 95%;
    height: 180px;
    word-wrap: break-word;
    overflow: hidden;
  }
  .box {
    width: 33.333%;
  }
  .info_izq {
    display: block;
    width: 40%;
  }
  .info_der {
    width: 40%;
    margin-top: 30px;
    height: 350px;
  }
  .img_short {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .cont_info {
    flex-direction: row;
  }
  .cont_info p {
    width: 95%;
    height: 180px;
    word-wrap: break-word;
    overflow: hidden;
  }
  .box {
    width: 33.333%;
  }
  .info_izq {
    display: block;
    width: 40%;
  }
  .info_der {
    width: 40%;
    height: 400px;
    margin-top: 30px;
  }
  .img_short {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .carousel_img {
    height: 80vh;
  }
  .info_der {
    height: 580px;
  }
  .img_short {
    height: 100%;
    width: 70%;
  }
}

@media screen and (min-width: 1440px) {
  .img_short {
    height: 100%;
    width: 60%;
  }
}
