.contenedorCreditos {
  width: 100%;
  height: auto;
  /* margin: 2rem 0.7rem; */
  overflow-x: hidden;
  padding: 12px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid grey;
  justify-content: center;
  gap: 10px;
}

.nombresCreditos {
  font-size: 12px;
  font-weight: bold;
}
.credits p {
  width: 90px;
  text-align: center;
}
