.contenedorInfoPeliculas {
  display: flex;
  flex-wrap: wrap;
}

.contenedorInfo {
  display: flex;
  height: 70vh;
  background-size: cover;
}

.contenedor__imagen {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imagen {
  margin-top: 8rem;
  height: 85%;
  width: 70%;
  border-radius: 10px;
}
.informacion__pelicula {
  z-index: 6;
  height: 55%;
  color: white;
  font: bold 100%/20px Helvetica, Sans-Serif;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: justify;
  margin-top: 3rem;
  overflow: hidden;
  display: none;
}

.title {
  text-align: center;
  size: 20px;
  font-size: 20px;
}

.fecha {
  text-align: end;
}

.similares {
  display: inline-block;
}

.contenedorSimilares {
  width: 98%;
  height: 400px;
  margin: auto;
  border-radius: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.bajoInfoPeliculas {
  width: 100%;
  padding: 15px;
}

.contenedorProveedores {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .contenedor__imagen {
    width: 50%;
  }

  .imagen {
    width: 90%;
  }

  .contenedor__info {
    width: 50%;
  }

  .informacion__pelicula {
    display: block;
    width: 90%;
    height: 65%;
    padding: 10px;
    margin-top: 12rem;
  }
  .informacion__pelicula > p {
    margin-top: 15px;
  }
}

@media screen and (min-width: 800px) {
  .contenedor__imagen {
    width: 50%;
  }

  .imagen {
    width: 90%;
  }

  .contenedor__info {
    width: 50%;
  }

  .informacion__pelicula {
    display: block;
    width: 90%;
    height: 65%;
    padding: 10px;
  }
  .informacion__pelicula > p {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .imagen {
    width: 80%;
  }

  .contenedor__info {
    width: 50%;
  }

  .informacion__pelicula {
    width: 85%;
  }
}


@media screen and (min-width: 1200px) {
  .imagen {
    width: 60%;
  }

  .contenedor__info {
    width: 50%;
  }

  .informacion__pelicula {
    width: 70%;
  }
}
