.contenedorVideo {
  margin-top: 50px;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.videoCarousel {
  width: 100%;
}

.video {
  border-radius: 10px;
  height: 250px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .contenedorVideo {
    flex-direction: row;
  }
  .videoCarousel {
    width: 49%;
  }
}

@media screen and (min-width: 1200px) {
  .contenedorVideo {
    flex-direction: row;
    justify-content: center;
  }
  .videoCarousel {
    width: 40%;
  }

  .video {
    width: 50%;
  }
}
